<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.data.meta.title }} - രചയിതാവ് ജെറമി തോമസ്</title>
    <link rel="stylesheet" href="{{ site.url }}/css/main.min.css?v={{ site.time | date: "%Y%m%d%H%M" }}">
    {% include partials/share.html %}
    {% include partials/favicons.html %}
  </head>
  <body>
    <main class="main">
      {{ content }}
    </main>
    <script src="{{ site.url }}/vendor/bowser.min.js"></script>
    <script src="{{ site.url }}/vendor/js.cookie.min.js"></script>
    <script src="{{ site.url }}/vendor/clipboard.min.js"></script>
    <script src="{{ site.url }}/lib/main.js?v={{ site.time | date: "%Y%m%d%H%M" }}"></script>
  </body>
</html>
